* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

body{
    font-family: Helvetica, sans-serif;
}

.wrapperMenu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    padding: 70px 0;
    max-width: 400px; 
    margin: 0 auto;
}

.menu {
    width: 100%;
}

/* Custom dropdown styling */
.dropdown {
    position: relative;
    width: 100%;
}

.dropdown-toggle {
    width: 100%;
    padding: 15px; 
    font-size: 16px; 
    font-weight: 700;
    font-family: Helvetica, sans-serif;
    border: 2px solid #3f51b5;
    border-radius: 8px;
    background-color: #e8eaf6;
    cursor: pointer;
    text-align: left;
}

.dropdown-menu {
    display: none; /* Hidden by default */
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 2px solid #3f51b5;
    border-radius: 8px;
    background-color: #ffffff;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1;
}

.dropdown-menu label {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.dropdown-menu input[type="checkbox"] {
    margin-right: 10px;
}
/* 
.content {
    margin: 30px 0;
} */

.data {
    display: none; /* Initially hide all country info */
    /* padding: 25px; */
    /* background-color: #fff; */
    /* border-radius: 8px; */
}

/* .content p {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid gainsboro;
} */

p:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}



/* end of copied from dropdown */


.title, .description{
    text-align: center;
}

.title{
    font-size: 50px;
}


/* FLEX CONTAINER */
.flex-container {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to new rows */
    font-size: 30px;
    text-align: center;
    margin-top: 100px;
}

/* Style for each flex item */
.flex-item {
    padding: 10px;
    flex: 1 0 14.28%; /* 7 columns by default */
}

/* 5 columns when screen width is less than 1200px */
@media (max-width: 1700px) {
    .flex-item {
        flex: 1 0 20%; /* 5 columns */
    }
}

/* 3 columns when screen width is less than 900px */
@media (max-width: 1300px) {
    .flex-item {
        flex: 1 0 33.33%; /* 3 columns */
    }
}

/* 1 column when screen width is less than 600px */
@media (max-width: 800px) {
    .flex-item {
        flex: 1 0 50%; /* 1 column */
    }
}

.foodImage{
    object-fit: cover;
    width: 280px;
    height: 280px;    
    display: block;
    margin-left: 0;
}


.foodName{
    font-size: 20px;
    text-align: left;
    text-decoration: underline;
    margin-top: 10px;
    margin-bottom: 0px;
}

.foodName:hover{
  font-style: italic;
  background-color: HotPink;
}

.countryName{
    font-size: 19px;
    text-align: left;
}
